/* width, height */
#fixed-size {
  width: 300px;
  height: 150px;
  background-color: lightblue;
}

#variable-size {
  width: 100vw; /* px: specific, %: parent ratio, viewport: display size*/
  height: 20vh;
  background-color: lightgreen;
}

/* padding, margin */
.space {
  background: lightyellow;
  border: 1px solid;
  margin-bottom: 10px;
}

#padding1 {
  padding: 20px;
}

#padding2 {
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 40px;
  /* syntax: -top, -bottom, -left, -right*/
  /* order: top, right, bottom, left*/
  /* order: top right/left bottom
  padding: 30px(top), 20px(right/left), 30px(bottom)
  */
  /* order: top/bottom right/left
  padding: 30px(top/bottom) 20px(right/left)
  */
}

#margin1 {
  margin: 20px;
}

#margin2 {
  margin: 5px 15px 10px 30px;
}

.collapse-box {
  background-color: lightcoral;
  padding: 10px;
  border: 1px solid #444;
}

#box1 {
  margin-bottom: 50px;
}

#box2 {
  margin-top: 30px;
}

.center-box {
  width: 200px;
  height: 100px;
  background: lightseagreen;
  color: white;
  text-align: center;
  line-height: 100px;
  margin: auto;
}

/*border*/
.border {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: #eee;
  display: inline-block;
}

#border1 {
  border: 3px solid red;
}

#border2 {
  border: 5px dashed green;
}

#border3 {
  border: 2px dotted blue;
}

.radius-box {
  width: 120px;
  height: 120px;
  background: plum;
  color: white;
  text-align: center;
  line-height: 120px;
  margin-bottom: 10px;
}

.radius1 {
  border-radius: 30px;
}

.radius2 {
  border-radius: 50%;
}

/* 5/20일 추가사항 */
/* box-sizing */
.box {
  width: 300px;
  height: 200px;
  padding: 20px;
  border: 10px solid;
  background-color: lightcoral;
  margin: 10px;
}
.box-content {
  box-sizing: content-box;
}
.box-border {
  box-sizing: border-box;
}
/* display */
.display {
  background-color: pink;
  padding: 10px;
  margin: 5px;
  width: 150px;
  height: 70px;
}
/* 블록요소를 인라인요소로 변경 */
.display-inline {
  display: inline;
}
/* 인라인 요소를 블록요소로 변경 */
.display-block {
  display: block;
}
/* 블록 요소를 인라인 블록요소로 변경, 제일 깔끔하며 width & height값 모두 줄 수 있기에 유용 */
.display-inline-block {
  display: inline-block;
}
/* 포지셔닝 */
/* float */
.float {
  float: left;
  width: 80px;
  height: 80px;
  margin: 5px;
  background: skyblue;
  text-align: center;
  line-height: 80px;
}
/* position */
.position-box {
  width: 100px;
  height: 100px;
}
#relative {
  background: orange;
  position: relative;
  /* 같이 쓰이는 속성 존재, top, bottom, left, right */
  top: 20px;
  left: 50px;
  /* right: -50px; -> left 50px와 같은 작용, 이렇게도 활용 가능 */
  /* bottom: 100px; 위로 올려서 다른애들 가려버림*/
}
#absolute {
  background: green;
}
