section {
  display: flex;
}

.box {
  width: 150px;
  height: 150px;
  background-color: black;
  color: white;
  line-height: 150px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  margin: auto;
}

.transition {
  background-color: gray;
  transition-property: background-color, font-size, color;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(1, -0.03, 0.58, 1);
  transition-delay: 500;
  /*transition: all 2s
  instead of specifying each property, "all" is suffice to affect all*
  property: 속성 명시,
  duration: 전화 시간,
  timing-function: 전환 속도 곡선,
  delay: 전환 시간 지연 시간
  transtion: all(property) 5s(duration) ease-in-out(timing-function) 1s(delay)
  */
}

.transition:hover {
  background-color: black;
  color: white;
  font-size: 1.8rem;
  transform: scale(1.5);
}

/*Transform: Scale*/
.transform-scale {
  background-color: coral;
}

.transform-scale:hover {
  transform: scale(1.2);
}

/*Transform: Rotate*/
.transform-rotate {
  background-color: orange;
}

.transform-rotate:hover {
  transform: rotate(45deg);
}

/*Transform: Translate*/
.transform-translate {
  background-color: mediumaquamarine;
}

.transform-translate:hover {
  transform: translate(40px, 20px);
  /*translate(x,y): move*/
}

/*Transform: Skew*/
.transform-skew {
  background-color: chocolate;
}

.transform-skew:hover {
  transform: skew(10deg, 20deg);
  /*skew(xdeg, ydeg*/
}

/*Animation*/
@keyframes bounce {
  0% {
    transform: translate(0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: translate(25px, 50px);
  }
}

@keyframes bounce2 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translatey;
  }
  50% {
    transform: translateY(-30px);
  }
}

.animation-once {
  background-color: crimson;
  animation: bounce 1s ease-in 1;
  /*animation: 애니메이션명 지속시간 속도곡선 횟수*/
}

.animation-alternate {
  background-color: indigo;
  animation: bounce 1s ease-in-out 3 alternate;
}

.animation-reverse {
  background-color: pink;
  animation: bounce 2s ease-in-out reverse;
}

.animation-paused {
  background-color: pink;
  animation: bounce2 2s linear infinite;
}

.animation-paused:hover {
  animation-play-state: paused;
}

/*Perspective-Origin*/
.perspective-container {
  perspective: 600px;
}

.perspective-container .box {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.perspective-container .box:hover {
  transform: rotateY(180deg);
}
