*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: red;
  font-size: 1.2em;
  overflow: hidden;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  position: relative;
}

/* Parent */
body div {
  display: flex;
  /* height: 0vh;
    width: 0vw; */
  justify-content: center;
  margin: 0 auto;
}

/* main */
.main {
  background: white;
  position: relative;
  height: 50vh;
  width: 50vw;
  flex-direction: column;
  align-items: center;
}

.main::after {
  position: relative;
  perspective: 1200px;
  perspective-origin: 50% -50%;
}

@keyframes main {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
/* main > nav */
.nav {
  flex-direction: row;
  background: aquamarine;
  border: 1px solid;
  /* width: 100vw; */
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  cursor: pointer;
}

/* main > main-container */

/* Top */
.top {
  color: white;
  height: 0vh;
  background: teal;
}

/* Left */
.left {
  height: 0vh;
  color: white;
  background: teal;
}

/* Right */
.right {
  height: 0vh;
  color: white;
  background: teal;
}

/* Bottom */
.bottom {
  background: teal;
  color: white;
  height: 0vh;
}
