*,
*::before,
*::after {
box-sizing: content-box;
}

body {
  background: #FF1D25;
  font-size: 1.2em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  top: 0;
  bottom: 0;

}

/* .container::after {
  perspective: 1200px;
  perspective-origin: 50% -50%;
  overflow: hidden;
} */

.main {
  background: white;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.left {
  background: aquamarine;
  width: 50vw;
  text-align: right;
}

.left #Lclose {
  cursor: pointer
}

.right {
  background: beige;
  width: 50vw;
  text-align: left;
}

.right #Rclose {
  cursor: pointer
}

.bottom {
    background: coral;
  /* height: 300px; */
  width: 100vw;
}

.top {
  position: fixed;
  background: violet;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10em 0;
  /* content-visibility: hidden; */
}

.nav {
  cursor: pointer;
  margin: 10%;
}

/* Animation */
@keyframes container {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}