/* Prevent padding and border from causing overflow */
*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  font-family: "Inconsolata", "Monaco", monospace;
  overflow: hidden;
  margin: 0 auto;
  color: #a0a2ae;
  background: #ff494f;
}

.main-container {
  display: flex;
  position: relative;
  background-color: rgb(109, 240, 250);
  flex-direction: column;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

nav #bar {
  background: #ff1d25;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

nav i {
  position: static;
  transform: none;
  padding: 10px;
}

nav img {
  width: 210px;
  position: relative;
  top: -3px;
}

.main-container::after {
  content: "";
  background: white;
  position: relative;
  perspective: 1200px;
  perspective-origin: 50% -50%;
}

.left {
  background: rgb(136, 136, 136);
  width: 36.6vw;
  height: 100vh;
  visibility: hidden;
}

.mainbody {
  height: 100vh;
}

.top {
  position: fixed;
  display: flex;
  color: white;
  font-size: 2em;
  top: 20vh;
  left: 30vw;
  right: 30vw;
  visibility: hidden;
}

.bottom {
  position: fixed;
  display: flex;
  color: white;
  font-size: 2em;
  top: 80vh;
  left: 30vw;
  right: 30vw;
  border: 2px solid;
  visibility: hidden;
}

/* ANIMATION */
@keyframes main-container {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
